.lora {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

* {
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.map-container {
  position: relative;
  width: 350px; /* Width of the floor plan image */
  height: 350px; /* Height of the floor plan image */
}

.map-container img,
.map-container svg {
  position: absolute;
  top: 0;
  left: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #ffffff;
  color: black;
  padding-top: 2rem;
  /* Add top padding to body to prevent content from being hidden behind the navbar */
}

#tooltip {
  position: absolute;
  visibility: hidden;
  padding: 20px;
  background: rgba(0, 0, 0, 0.85); /* Darker background for better contrast */
  color: white;
  border-radius: 4px; /* Slightly larger radius for a softer look */
  border-color: #000000;
  font-size: 14px; /* Larger font size for readability */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Soft shadow for depth */
  pointer-events: none; /* Avoids tooltip interfering with mouse events */
  transition: visibility 0.2s, opacity 0.2s ease-in-out; /* Smooth transition */
  opacity: 0; /* Start with tooltip transparent */
  z-index: 1000; /* Ensure it's above other elements */
}

/* Adjustments for alignment */
.areaChart {
  display: absolute;
  padding-left: 1rem;
  margin-top: 2rem;
  margin-left: 2rem; /* Adjust based on your layout */
  transition: ease;
}

.container {
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #32ff5b;
  color: black;
}

button:hover {
  background-color: #9ff2d8;
}

.navbar {
  background-color: #000000;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow for a subtle lift effect */
}

.nav-link {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav-link:hover {
  background-color: #ddd;
  color: black;
}

/* Position and style the input form section */
.input-form {
  margin-top: 20px; /* Adjust based on your layout */
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: auto; /* Adjust based on your layout */
  max-width: 600px; /* Adjust based on your layout */
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.input-form form {
  display: flex;
  flex-direction: column;
}

.input-form label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-form input[type="number"] {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.input-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
}

.input-form button:hover {
  background-color: #0056b3;
}

/* Style the result display */
#result {
  margin-top: 20px; /* Spacing from the form or any elements above */
  padding: 15px;
  background-color: #e9ecef; /* A light gray background for contrast */
  color: #495057; /* Dark gray color for text */
  border-radius: 5px; /* Rounded corners */
  border: 1px solid #ced4da; /* Light gray border */
  text-align: center; /* Center the text */
  font-size: 1.25rem; /* Larger text size */
  font-weight: bold; /* Make the font bold */
  max-width: 600px; /* Match the form width for alignment */
  margin-left: auto; /* Center align the block */
  margin-right: auto; /* Center align the block */
}

/* Make the navigation links stack vertically on smaller screens */
@media screen and (max-width: 600px) {
  .nav-link {
    float: none;
    display: block;
    text-align: left;
  }
}
